html  
  font-size: $fz
  font-weight: 300
  line-height: 1.4
  color: $c-text
  +reg

body
  background-color: $white  
  min-width: 320px  
  +no-scroll  

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  $this: &
  &--loaded:not(#{$this}--no-fade-in)
    animation: fadeIn 1s


.out
  padding-top: $header-height

.logo
  display: inline-block
  font-size: 0

.card-label
  display: block
  text-align: center
  &__title
    display: block
  &__label
    display: block
  &__subttl
    display: block
    font-size: em(14)
    line-height: 1.2
    font-weight: 400
    color: #b27200

.corner-label
  +flex(center, center)
  background-color: $accent
  padding: .1rem 1rem
  height: 1.875rem
  position: relative
  font-weight: 400
  +before
    +arr(1.875rem, 1.875rem, $accent, b)
    position: absolute
    right: 100%
    top: 0
    z-index: 0
    transform: translate(50%, 0)
  &__title
    position: relative
    z-index: 1

.price-block
  display: block
  &__upttl
    display: block
    color: #fd3c00
  &__price
    display: block
  &__subttl
    display: block

.price
  color: #fd3c00
  font-size: em(24)
  font-weight: 700
  &--old
    color: #a9a9a9
    font-size: 1em
    font-weight: 300
    text-decoration: line-through

    