---
title: about
page: about
hero: {
  title: 'אודות',
  bg: 'Talpiot _030.jpg',
  mod: 'hero--sm',
  breadcrumbs: {
    list: [
      { link: 'דף הבית' },
      { item: '-' },
      { item: 'אודות', modItem: 'breadcrumbs__current-item' }
    ]
  }
}
sTwoCols: {
  text: 'בצד המקצועיות, עליה אנחנו מקפידים בכל שלב משלבי האבחון והטיפול, מוסך תלפיות מעמיד את הלקוח במרכז: שירות לשינוע הרכב למוסך מביתך וחזרה, ליווי של יועצי השירות האדיבים שלנו מרגע יצירת הקשר עם המוסך ועד לסיום התיקון או הטיפול לרכב, הכנת הרכב למבחני רישוי והעברה (ללא תוספת תשלום), בדיקות תקופתיות מקיפות ועוד… בנוסף, אנחנו מציעים לך שירותי ביטוח מקיפים לרכב (כך שאין לך צורך להתרוצץ הלוך ושוב בין סוכן הביטוח למוסך בו מטופל הרכב, במקרה של תאונה או תקלה), כך תוכל לקבל את כל השירותים לרכבך תחת קורת גג אחת, לרשותך ולנוחותך, והכל בחיוך ובאווירה חמה ומשפחתית',
  title: 'הלקוח הוא הדבר החשוב ביותר עבורנו',
  img: 'about/Talpiyot day 2_02 _.jpg'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-about-gallery.html" %}
  {% include "partials/sections/_s-numbers.html" %}
  {% include "partials/sections/_s-team.html" %}
  {% include "partials/sections/_s-member.html" %}
  {% include "partials/sections/_s-car-list.html" %}
  {% include "partials/sections/_s-call.html" %}
{% endblock %}
