<!-- begin header -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__inner">
        {% include "partials/_header-contacts.html" %}

        {{ mixins.list(
          name = 'social',
          modifications = { wrap: '', list: 'header__social social', item: '', link: '' },
          list = [
            { item: '', link: mixins.icon('facebook'), modItem: '', modLink: '' }
          ]
        ) }}

        <!-- begin header__logos -->
        <div class="header__logos">
          <a href="#" class="header__logo-sm"><img class="js-lazy" alt="" src="" data-src="./img/logos/nissan-symbol-2012-1920x1080.png"/></a>
          <a href="#" class="header__logo-sm"><img class="js-lazy" alt="" src="" data-src="./img/logos/dacia-logo-971F424816-seeklogo.com.png"/></a>
          <a href="#" class="header__logo-sm"><img class="js-lazy" alt="" src="" data-src="./img/logos/car_logo_PNG1661.png"/></a>          
        </div>
        <!-- end header__logos -->
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <div class="header__burger">
          <button class="burger js-burger"><span></span></button>
        </div>

        <div class="header__nav-wrap js-menu">
          {% include "partials/_nav.html" %}

          <div class="header__meta-mob">
            {% include "partials/_header-contacts.html" %}            
            
            <div class="header__logos-mob-wrap">
              <!-- begin header__logos -->
              <div class="header__logos">
                <a href="#" class="header__logo-sm"><img class="js-lazy" alt="" src="" data-src="./img/logos/nissan-symbol-2012-1920x1080.png"/></a>
                <a href="#" class="header__logo-sm"><img class="js-lazy" alt="" src="" data-src="./img/logos/dacia-logo-971F424816-seeklogo.com.png"/></a>
                <a href="#" class="header__logo-sm"><img class="js-lazy" alt="" src="" data-src="./img/logos/car_logo_PNG1661.png"/></a>
              </div>
              <!-- end header__logos -->


              {{ mixins.list(
                name = 'social',
                modifications = { wrap: '', list: 'header__social social', item: '', link: '' },
                list = [
                  { item: '', link: mixins.icon('facebook'), modItem: '', modLink: '' }
                ]
              ) }}
            </div>
          </div>
        </div>       

        
        
        <a href="#" class="header__img-link">
          <img class="header__img js-lazy" alt="" width="50" src="" data-src="./img/cwsd.png"/>
        </a>
        

        <a href="/" class="header__logo logo">
          <img class="js-lazy" alt="" src="" data-src="./img/logo.png"/>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- end header -->