<!-- begin header -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__inner">
        <div class="header__contacts">
          <div class="header__contact header-contact">
            <div class="header-contact__icon">{{ mixins.icon('pin') }}</div>
            <div class="header-contact__text">
              דרך בר יהודה 147, 20300 נשר
            </div>
          </div>

          <div class="header__contact header-contact">
            <div class="header-contact__icon">{{ mixins.icon('clock') }}</div>
            <div class="header-contact__text">
              ימים א' – ה': 07:30 – 16:00р
            </div>
            <div class="header-contact__text">
              מים ו': 07:30 – 12:00
            </div>
          </div>

          <div class="header__contact header-contact">
            <div class="header-contact__text">
              צרו קשר:
            </div>
            <div class="header-contact__icon">{{ mixins.icon('telephone') }}</div>
            <a href="tel:0779555648" class="header-contact__link">077-9555648</a>
          </div>
        </div>

        <!-- begin header__logos -->
        <div class="header__logos">
          <img class="js-lazy" alt="" src="about:blank" data-src="./img/logos/nissan-symbol-2012-1920x1080.png"/>
          <img class="js-lazy" alt="" src="about:blank" data-src="./img/logos/dacia-logo-971F424816-seeklogo.com.png"/>
          <img class="js-lazy" alt="" src="about:blank" data-src="./img/logos/car_logo_PNG1661.png"/>
        </div>
        <!-- end header__logos -->

        {{ mixins.list(
          name = 'social',
          modifications = { wrap: '', list: 'header__social', item: '', link: '' },
          list = [
            { item: '', link: mixins.icon('facebook'), modItem: '', modLink: '' }
          ]
        ) }}
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <a href="/" class="header__logo logo">
          <img class="js-lazy" alt="" src="about:blank" data-src="./img/logo.png"/>
        </a>

        {% include "partials/_nav.html" %}

        <img class="header__img js-lazy" alt="" src="about:blank" data-src="./img/cwsd.png"/>
      </div>
    </div>
  </div>
</header>
<!-- end header -->