<div class="header__contacts">
  <div class="header__contact header-contact">
    <div class="header-contact__icon">{{ mixins.icon('pin') }}</div>
    <div class="header-contact__text">
      דרך בר יהודה 147, 20300 נשר
    </div>
  </div>

  <div class="header__contact header-contact">
    <div class="header-contact__icon">{{ mixins.icon('clock') }}</div>
    <div class="header-contact__text">
      ימים א' – ה': 07:30 – 16:00р
    </div>
    <div class="header-contact__text">
      מים ו': 07:30 – 12:00
    </div>
  </div>

  <div class="header__contact header-contact">
    <div class="header-contact__text header-contact__text--front">
      צרו קשר:
    </div>
    <div class="header-contact__icon">{{ mixins.icon('telephone') }}</div>
    <a href="tel:0779555648" class="header-contact__link">077-9555648</a>
  </div>
</div>