<!-- begin hero -->
<section
  class="hero{% if hero.mod %} {{ hero.mod }}{% endif %}{% if hero.bg %} js-lazy{% endif %}"
  {% if hero.bg %}data-background-image="./img/hero/{{ hero.bg }}"{% endif %}
>
  {% if hero.slider %}
  <!-- begin hero-slider -->
  <div class="hero-slider slider__wrap slider--hero__wrap">
    <div class="swiper-container js-slider" data-slider="hero">
      <div class="swiper-wrapper slider">
        
        {{ mixins.heroSlide(
          bg = 'Talpiot _081.jpg',
          title = 'פחחות כללית לרכב ',
          subttl = 'ציוד משוכלל שמופעל על ידי קשישים עם ניסיון רב בתחום, שתירגם כבר אלפי רכבים ממראה גרוע כמעט לכל מכונית',
          button = {
            title: 'צרו קשר',
            mod: 'hero-slde__btn btn--dark'
          }
        ) }}

        {{ mixins.heroSlide(
          video = true,
          title = 'פחחות כללית לרכב ',
          subttl = 'ציוד משוכלל שמופעל על ידי קשישים עם ניסיון רב בתחום, שתירגם כבר אלפי רכבים ממראה גרוע כמעט לכל מכונית',
          button = {
            title: 'צרו קשר',
            mod: 'hero-slde__btn btn--dark'
          }
        ) }}

        {{ mixins.heroSlide(
          bg = 'Talpiot _081.jpg',
          title = 'פחחות כללית לרכב ',
          subttl = 'ציוד משוכלל שמופעל על ידי קשישים עם ניסיון רב בתחום, שתירגם כבר אלפי רכבים ממראה גרוע כמעט לכל מכונית',
          button = {
            title: 'צרו קשר',
            mod: 'hero-slde__btn btn--dark'
          }
        ) }}
      </div>
    </div>

    <div class="slider__pagination js-slider-pagination"></div>
    <div class="slider__controls">
      <button class="slider__prev slider-prev js-slider-prev"></button>
      <button class="slider__next slider-next js-slider-next"></button>
    </div>
  </div>
  <!-- end hero-slider -->

  {% elseif hero.sliderFuckingDifferent %}

  <!-- begin hero-slider -->
  <div class="hero-slider hero-slider--center-white slider__wrap slider--hero__wrap">
    <div class="swiper-container js-slider" data-slider="hero">
      <div class="swiper-wrapper slider">
        
        {{ mixins.heroSlide(
          fuckingDifferent = true,
          bg = 'renault.jpg',
          title = 'רכבי דאצ’יה - טיפולים תקופתיים',
          subttl = 'שירותי מוסך תלפיות הם מהמתקדמים בעולם, <br>ויבטיחו את שימור הרכב שלכם לאורך זמן',
          button = {
            title: 'צרו קשר',
            mod: 'hero-slde__btn btn--dark-text'
          }
        ) }}        

        {{ mixins.heroSlide(
          fuckingDifferent = true,
          video = true,
          title = 'רכבי דאצ’יה - טיפולים תקופתיים',
          subttl = 'שירותי מוסך תלפיות הם מהמתקדמים בעולם, <br>ויבטיחו את שימור הרכב שלכם לאורך זמן',
          button = {
            title: 'צרו קשר',
            mod: 'hero-slde__btn btn--dark-text'
          }
        ) }}

        {{ mixins.heroSlide(
          fuckingDifferent = true,
          bg = 'renault.jpg',
          title = 'רכבי דאצ’יה - טיפולים תקופתיים',
          subttl = 'שירותי מוסך תלפיות הם מהמתקדמים בעולם, <br>ויבטיחו את שימור הרכב שלכם לאורך זמן',
          button = {
            title: 'צרו קשר',
            mod: 'hero-slde__btn btn--dark-text'
          }
        ) }}
      </div>
    </div>

    <div class="slider__pagination js-slider-pagination"></div>
    <div class="slider__controls">
      <button class="slider__prev slider-prev js-slider-prev"></button>
      <button class="slider__next slider-next js-slider-next"></button>
    </div>
  </div>
  <!-- end hero-slider -->

  {% else %}
    <div class="container">
      {% if hero.breadcrumbs %}
      {{ mixins.list(
        name = 'breadcrumbs',
        modifications = { wrap: '', list: 'hero__breadcrumbs breadcrumbs', item: '', link: '' },
        list = hero.breadcrumbs.list
      ) }}
      {% endif %}

      {% if hero.title %}
      <h1 class="hero__title title">{{ hero.title | safe }}</h1>
      {% endif %}
    </div>
  {% endif %}
</section>
<!-- end hero -->