{{ mixins.list(
  name = 'nav',
  hasWrap = true,
  modifications = { wrap: 'header__nav', item: '', link: '' },
  list = [
    { link: "דף הבית  ", modItem: 'nav__current-item' },
    { link: "אודות  ", modItem: 'nav__item-with-submenu', item: '
      <ul>
        <li><a href="#">חזוקה </a></li>
        <li><a href="#">חזוקה </a></li>
        <li><a href="#">חזוקה </a></li>
        <li><a href="#">חזוקה </a></li>
        <li><a href="#">חזוקה </a></li>
        <li><a href="#">חזוקה </a></li>
      </ul>
    ' },
    { link: "שרותי המוסך " },
    { link: "רכבי דאצ'יה " },
    { link: "תחזוקה  " },
    { link: "תיקוני פחחות וצבע " },
    { link: "לקוחות ממליצים " },
    { link: "שירותים נילווים  " },
    { link: "שרותי ביטוח  " },
    { link: "צרו קשר" }
  ]
) }}