<!-- begin s-text -->
<div class="s-text scrollbar js-scrollbar">
  <h1>מוסך תלפיות, מוסך מורשה רנו וניסאן – אנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר!</h1>

  {% for i in range(0, 10) %}

  <p>כאשר אתה לקוח של מוסך תלפיות, מוסך מורשה רנו וניסאן – אתה יכול לנהוג ברכב שלך בראש 
  שקט, כי אנחנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר, במחירים נוחים ובליווי אישי ואמין לאורך כל הדרך!</p>

  <p>מאז שנת 1936 ועד היום, מוסך תלפיות מעניק לרכבים מאזור חיפה והצפון את השירות המקצועי, העדכני, המדויק ביותר, והכל נעשה בחיוך ובהתייחסות אישית לכל לקוח, כאילו הוא לקוח יחיד: שירותי מוסך שלנו, בשימוש במכשור מהמתקדמים ביותר בעולם יבטיח את תקינותו של הרכב שלך לאורך זמן. טיפולי הרכב במחלקות המקצועיות השונות של מרכז שירות תלפיות מפוקחים על ידי צוות מקצועי ומיומן, אשר עובר השתלמויות תקופתיות מתקדמות בארץ ובחו"ל אצל יצרני הרכב המובילים. במוסך תלפיות, מוסך מורשה רנו וניסאן בחיפה רכבך ייבדק במיטב המכשור המקצועי החדשני, לפי סטנדרטים בינלאומיים קפדנים ועל ידי צוות המורכב ממכונאי רכב ותיקים ומקצועיים (אשר רובם עומדים לרשות לקוחותינו יותר מעשור) וממכונאים מוסמכים בני הדור הצעיר, שבחרנו בקפידה</p>

  
  {% endfor %}

</div>
<!-- end s-text -->