<!-- begin section -->
<section class="section s-some-info js-lazy" data-background-image="./img/Renault_Logo_2015.jpg">
  <div class="container">
    <div class="grid">
      <div class="col col--lg-5 col--sm-6">
        <h2 class="section__title section__title--side title">מה אנו מציעים לכם?</h2>
        <!-- begin article -->
        <div class="article">   

          <p>
            האבחון הממוחשב המתקדם שלנו מאפשר את איתור התקלות בחיבור למכשיר האבחון הייעודי המשקף את המידע במחשב הרכב ומאפשר בדיקתם של חלק מהמפעילים על ידי הפעלתם באופן מבוקר. זאת, כדי להבטיח כי הם מתפקדים כהלכה ובהתאם למצופה מהם על פי הוראות היצרן. הבדיקות המקיפות מאפשרות לנו לאבחן תקלות קיימות ואף לאתר רמות ביצוע שאינן תקינות, אבל כרגע עדיין אינן מוגדרות כ"תקלות".
          </p>

            <p>
              מחלקת האבחון שלנו מאובזרת במכשור הטכני המודרני ביותר, כמחשבים ומכשירי האבחון החדשניים ביותר שבנמצא. כל המכשור העדכני שלנו מופעל בידי אנשי צוות מקצועי, אשר עוברים הכשרות ייחודיות, על מנת שיהיו מסוגלים להעניק לכם את השירות המקצועי ביותר במחלקות הרלוונטיות לטיב התקלה שהתגלתה ברכב.
            </p>

            {{ mixins.btn(
              title = 'צרו קשר',
              mod = 'btn--dark-text'
            ) }}
        </div>
        <!-- end article -->
      </div>

      <div class="col col--lg-7 col--sm-6">
        <div class="s-some-info__left">
          <!-- begin info-rect -->
          <div class="info-rect">
            <h3 class="info-rect__title title title--h3">אדם סמית</h3>
            <div class="info-rect__text">25 שנות ניסיון</div>
          </div>
          <!-- end info-rect -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->