{%set
features = [
  {
    mod: 'feature--lg',
    icon: 'oil',
    title: 'החלפת שמן גיר ברכב:',
    text: "מכיוון שברכבי דאצ'יה משתמשים בשמן סינטטי בגיר אין צורך בהחלפת שמן במערכת הגיר של הרכב לכל אורך חיי הרכב."
  },
  {
    mod: 'feature--lg',
    icon: 'motor',
    title: 'החלפת פילטר אוויר',
    text: 'פילטר אוויר מגן על מנוע הרכב מחלקיקי לכלוך ואבק, מכיוון שדרכו עובר כל האוויר שנכנס למנוע המכונית. ביצועים לקויים וצריכת דלק מוגברת הם רק כמה מתופעות הלוואי הלא נעימות שגורר איתו מסנן אוויר סתום.'
  },
  {
    mod: 'feature--lg',
    icon: 'candle',
    title: 'החלפת המצתים (פלאגים)',
    text: 'החלפתם התקופתית של המצתים משפרת את צריכת הדלק ושל הרכב את תגובתו להאצה (ללחיצה על דוושת הדלק).'
  },
  {
    mod: 'feature--lg',
    icon: 'filter',
    title: 'החלפת פילטר דלק:',
    text: 'פילטר הדלק מסנן את הדלק כשהוא נכנס למערכת ההזרקה מחלקיקים זרים הקיימים בו. במצב של סתימה מלאה, או אפילו חלקית, או סתום, הוא מונע זרימה שוטפת יציבה של הדלק אל הרכב, גורם לחימום הפלאגים (מצתים) והמזרקים ומזיק לחיי המנוע.'
  },  
  {
    mod: 'feature--lg',
    icon: 'tools-and-utensils',
    title: 'החלפת פילטר שמן:',
    text: 'החלפה של שמן המנוע בלבד (גם כאשר היא נעשית בשמן איכותי שעומד בתקן של היצרן, כפי שאנחנו, במוסך תלפיות מקפידים לעשות) ללא החלפתו של פילטר השמן, עלולה לגרום לכך שלכלוך ישן שנאגר בפילטר השמן הישן מזהם את השמן החדש.'
  },
  {
    mod: 'feature--lg',
    icon: 'engine-oil',
    title: 'החלפת שמן המנוע ברכב',
    text: 'מטרת שמן מנוע היא הקטנת החיכוך והשחיקה באזורים בהם בעלי עומס גבוה. השמן מגן על חלקי המנוע מפני קורוזיה, ואף סופח אליו סוגי לכלוך שונים העלולים להזיק לפעולתו (כמו פיח, אבק או בוץ). החלפה שוטפת של שמן המנוע נחשבת לקריטית, מאחר וככל שהזמן עובר החומרים הרבים שהוא סופח אליו גורמים לאיבוד צמיגותו, איבוד האפקטיביות שלו כתוצאה מכך – בלאי של המנוע.'
  }  
]
%}

<!-- begin section -->
<section class="section section--gray">
  <div class="container">
    <h2 class="title text-center">
      מה יכלול הטיפול התקופתי לרכב <br>
      הדאצ'יה שלכם במוסך תלפיות?
    </h2>

    <div class="section__subttl text-center">
      האבחון הממוחשב המתקדם שלנו מאפשר את איתור התקלות בחיבור למכשירהנה מספר טיפולים <br>
      לדוגמה, אליהם אנחנו מתייחסים כאל קריטיים בטיפול תקופתי לרכב דאצ'יה:השירות המקצועי <br>
      ביותר במחלקות הרלוונטיות לטיב התקלה שהתגלתה ברכב
    </div>

    <div class="grid">
      {% for i in features %}
      <div class="col col--md-4 col--xs-6">
        <!-- begin info-item -->
        <div class="info-item info-item--reverse">
          <div class="info-item__icon">
            {{ mixins.icon(i.icon) }}
          </div>

          <h3 class="info-item__title title title--h3">{{ i.title | safe }}</h3>

          <div class="info-item__text">{{ i.text | safe }}</div>
        </div>
        <!-- end info-item -->
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end section -->