<!-- begin section -->
<section class="s-item">
  <div class="container">
    <div class="grid grid--align-items-center">
      <div class="col col--md-6 text-center">
        <img class="s-item__img js-lazy" alt="" src="" data-src="./img/tyre-lg.png"/>
      </div>

      <div class="col col--md-6">
        <div class="s-item__content">
          <!-- begin item-descr -->
          <div class="item-descr">
            <div class="item-descr__top">
              <img class="item-descr__img js-lazy" alt="" src="about:blank" data-src="./img/tyre.png"/>

              <div class="item-descr__top-title">
                <h2 class="item-descr__title">Bridgestone 185/60R15</h2>

                <div class="item-descr__price-block price-block price-block--flex">
                  <div class="price-block__title">מחיר:</div>
                  <div class="price-block__price price">₪359</div>
                  <div class="price-block__price-old price price--old">₪459</div>
                </div>
              </div>
            </div>
            <div class="item-descr__meta item-meta">
              <div class="item-meta__item">
                רוחב הצמיג: <strong>205</strong>
              </div>

              <div class="item-meta__item">
                חתך הצמיג: <strong>55R</strong>
              </div>

              <div class="item-meta__item">
                קוטר צמיג: <strong>16</strong>
              </div>
            </div>

            <div class="item-descr__text">
              צמיגים Dunlop - חברה עם ניסיון של למעלה מ100 שנים בייצור צמיגים, צמיגי המותג Dunlop בעלי איכות ביצוע מהגבוהים ביותר והם אחת החברות הפורצות דרך בטכנולוגיות מתקדמות מגיע בהתקנות ראשונות שלרכבים כגון אאודי, פולקסווגן, BMW, רנו ויגואר. תחילתה של החברה ע"י ג'ון בויד דנלופ, שהיה הראשון שהמציא את פטנט של הצמיגים הפניאומטיים, צמיג ללא פנימית
            </div>

            <div class="item-descr__btn">
              {{ mixins.btn(
                title = 'הזמינו צמיג',
                mod = ''
              ) }}
            </div>

            <div class="item-descr__del-meta item-del-meta">
              <div class="item-del-meta__item">
                <div class="item-del-meta__icon">
                  {{ mixins.icon('sports-and-competition') }}
                </div>
                <div class="item-del-meta__text">
                  איכות הצמיגים <br>
                  הטובה ביותר
                </div>
              </div>

              <div class="item-del-meta__item">
                <div class="item-del-meta__icon">
                  {{ mixins.icon('truck') }}
                </div>
                <div class="item-del-meta__text">
                  משלוח מהיר <br>
                  ונוח לכל עיר
                </div>
              </div>

              <div class="item-del-meta__item">
                <div class="item-del-meta__icon">
                  {{ mixins.icon('credit-card') }}
                </div>
                <div class="item-del-meta__text">
                  מערכות תשלומים <br>
                  קונבנציונליות
                </div>
              </div>
            </div>
          </div>
          <!-- end item-descr -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->