<!-- begin s-member -->
<section class="s-member">
  <div class="s-member__right">
    <div class="container">
      <div class="col col--5">
        <h3 class="title title--h3">הלקוח הוא הדבר החשוב ביותר עבורנו</h3>

        <div class="s-member__text">
          בצד המקצועיות, עליה אנחנו מקפידים בכל שלב משלבי האבחון והטיפול, מוסך תלפיות מעמיד את הלקוח במרכז: שירות לשינוע הרכב למוסך מביתך וחזרה, ליווי של יועצי השירות האדיבים שלנו מרגע יצירת הקשר עם המוסך ועד לסיום התיקון או הטיפול לרכב, הכנת הרכב למבחני רישוי והעברה (ללא תוספת תשלום), בדיקות תקופתיות מקיפות ועוד… בנוסף, אנחנו מציעים לך שירותי ביטוח מקיפים לרכב (כך שאין לך צורך להתרוצץ הלוך ושוב בין סוכן הביטוח למוסך בו מטופל הרכב, במקרה של תאונה או תקלה), כך תוכל לקבל את כל השירותים לרכבך תחת קורת גג אחת, לרשותך ולנוחותך, והכל בחיוך ובאווירה חמה ומשפחתית
        </div>
      </div>
    </div>
  </div>

  <div class="s-member__left js-lazy" data-background-image="./img/about/Talpiyot day 2_02 _.jpg"></div>
</section>
<!-- end s-member -->