{%set
gallery = {
  slider: [
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' },
    { img: 'Talpiot _005.jpg', thumb: 'thumb-service.jpg' }
  ]
}
%}  

<!-- begin section -->
<section class="section s-gallery">
  <div class="container">
    <div class="grid">
      <div class="col col--md-6">
        <!-- begin article -->
        <div class="article">
          <h2>מוסך תלפיות, מוסך מורשה רנו וניסאן – אנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר!</h2>

          <ul>
             <li>כאשר אתה לקוח של מוסך תלפיות, מוסך מורשה רנו וניסאן – אתה יכול לנהוג ברכב שלך בראש</li>
             <li>ט, כי אנחנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר, במחירים נוחים ובליווי</li>
             <li>כאשר אתה לקוח של מוסך תלפיות, מוסך מורשה רנו וניסאן – אתה יכול לנהוג ברכב שלך בראש</li>
             <li>שקט, כי אנחנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר, במחירים נוחים ובליווי</li>
          </ul>

          <ol>
             <li>כאשר אתה לקוח של מוסך תלפיות, מוסך מורשה רנו וניסאן – אתה יכול לנהוג ברכב שלך בראש</li>
             <li>ט, כי אנחנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר, במחירים נוחים ובליווי</li>
             <li>כאשר אתה לקוח של מוסך תלפיות, מוסך מורשה רנו וניסאן – אתה יכול לנהוג ברכב שלך בראש</li>
             <li>שקט, כי אנחנו דואגים שהלקוחות שלנו יקבלו את השירותים המתקדמים ביותר, במחירים נוחים ובליווי</li>
          </ol>

          <p>
             <a href="#">אז שנת 1936 ועד היום, מוסך תלפיות מעניק </a> <strong>לרכבים מאזור חיפה והצפון את השירות המקצועי,</strong> <em>העדכני, המדויק ביותר, והכל נעשה בחיוך ובהתייחסות אישית לכל לקוח,</em>מ כאילו הוא לקוח יחיד: שירותי מוסך שלנו, בשימוש במכשור מהמתקדמים ביותר בעולם יבטיח את תקינותו של הרכב שלך לאורך זמן. טיפולי הרכב במחלקות המקצועיות השונות של מרכז שירות תלפיות מפוקחים על ידי צוות מקצועי ומיומן, אשר עובר השתלמויות תקופתיות מתקדמות בארץ ובחו"ל אצל יצרני הרכב המובילים. במוסך תלפיות, מוסך מורשה רנו 11     1) וניסאן בחיפה רכבך ייבדק במיטב המכשור המקצועי החדשני, לפי סטנדרטים בינלאומיים קפדנים ועל ידי צוות  2) המורכב ממכונאי רכב ותיקים ומקצועיים (אשר רובם עומדים לרשות לקוחותינו יותר מעשור) וממכונאים 333  3) מוסמכים וניסאן בחיפה רכבך ייבדק במיטב המכשור המקצועי החדשני, לפי סטנדרטים בינלאומיים קפדנים
          </p>

          <h2>וממכונאים 333  3) מוסמכים וניסאן בחיפה רכבך ייבדק במיטב המכשור המקצועי החדשני, לפי סטנדרטים </h2>

          <p>
             <a href="#">אז שנת 1936 ועד היום, מוסך תלפיות מעניק </a> <strong>לרכבים מאזור חיפה והצפון את השירות המקצועי,</strong> <em>העדכני, המדויק ביותר, והכל נעשה בחיוך ובהתייחסות אישית לכל לקוח,</em>מ כאילו הוא לקוח יחיד: שירותי מוסך שלנו, בשימוש במכשור מהמתקדמים ביותר בעולם יבטיח את תקינותו של הרכב שלך לאורך זמן. טיפולי הרכב במחלקות המקצועיות השונות של מרכז שירות תלפיות מפוקחים על ידי צוות מקצועי ומיומן, אשר עובר השתלמויות תקופתיות מתקדמות בארץ ובחו"ל אצל יצרני הרכב המובילים. במוסך תלפיות, מוסך מורשה רנו 11     1) וניסאן בחיפה רכבך ייבדק במיטב המכשור המקצועי החדשני, לפי סטנדרטים בינלאומיים קפדנים ועל ידי צוות  2) המורכב ממכונאי רכב ותיקים ומקצועיים (אשר רובם עומדים לרשות לקוחותינו יותר מעשור) וממכונאים 333  3) מוסמכים וניסאן בחיפה רכבך ייבדק במיטב המכשור המקצועי החדשני, לפי סטנדרטים בינלאומיים קפדנים
          </p>
        </div>
        <!-- end article -->
        </div>

      <div class="col col--md-6">
        {% include "partials/_gallery.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->