{%set
items = [
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' },
  { mod: 'swiper-slide' }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h2 class="section__title title title--h2">אל תחמיץ גם את זה</h2>

    <!-- begin slider -->
    <div class="slider__wrap slider--items__wrap">
      <div class="swiper-container js-slider" data-slider="items">
        <div class="swiper-wrapper slider slider--items">
          {% for i in items %}
            {% include "partials/_item-card.html" %}
          {% endfor %}
        </div>
      </div>

      <div class="slider__controls">
        
        <button class="slider__next slider-next js-slider-next"></button>
        <button class="slider__prev slider-prev js-slider-prev"></button>
      </div>
    </div>
    <!-- end slider -->
  </div>
</section>
<!-- end section -->