<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="grid grid--justify-content-center">
      <div class="col col--8">
        {% include "partials/_filters.html" %}
      </div>
    </div>
    <div class="grid grid--no-bottom-gap">

      {% for i in range(0, 8) %}
      <div class="col col--3">
        {% include "partials/_item-card.html" %}
      </div>
      {% endfor %}
    </div>

    {% include "partials/_pagination.html" %}
  </div>
</section>
<!-- end section -->