<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="grid grid--align-items-center">
      <div class="col col--lg-5 col--md-6 col--order-md-0 col--order-1">
        <!-- begin article -->
        <div class="article">
          <h2 class="section__title section__title--side">
            טיפולים תקופתיים – מוסך מורשה דאצ’יה
          </h2>

          <p>
            רכבי דאצ'יה, כמו רכבים חדישים אחרים, נזקקים לטיפול תקופתי לאחר כמות הקילומטרים המוכתבת על ידי היצרן (על פי מספר הקילומטרים אותם נסע הרכב). הקפדה על ביצוע טיפולים תקופתיים במועדם, בנוסף להקפדה על ביצוע הטיפולים התקופתיים השוטפים במוסך מורשה דאצ'יה, חשובים לשמירה על תקינותה של מכונית הדאצ'יה שלכם והבטחת הנסיעה הבטוחה לכם ולמשפחתכם לאורך זמן
          </p>
          <p>
            במוסך שלנו, מוסף תלפיות – מוסך מורשה דאצ'יה – רכבי דאצ'יה חדשים הנמצאים עדיין במסגרת אחריות היצרן, זוכים לטיפולים תקופתיים ללא עלות ובמסגרת האחריות החלה עליהם
          </p>
          <p>
            במסגרת כל הטיפולים אלה (הטיפולים שבאחריות ואף הטיפולים שמתבצעים לאחר סיומה), נעשה שימוש במבחר מגוון של חלפים מקוריים וחלופיים איכותיים ובמחירים שהם ללא תחרות.
יתרה מכך,
          </p>
        </div>
        <!-- end article -->
      </div>

      <div class="col col--lg-7 col--md-6 col--order-md-1 col--order-0">
        <img class="js-lazy" alt="" src="" data-src="./img/18.jpg"/>
      </div>
    </div>
  </div>
</section>
<!-- end section -->