<!-- begin section -->
<section class="section--white section-full s-thanks js-lazy" data-background-image="./img/bg-thanks.jpg">
  <div class="container">
    <div class="section-full__inner">

      <img class="s-thanks__img js-lazy" alt="" src="" data-src="./img/people/3.png"/>

      <div class="section-full__content">
        <div class="section-full__block s-thanks__block">
          <div class="grid">
            <div class="col col--lg-4 col--offset-lg-4">
              <div class="section-full__icon s-thanks__icon">
                {{ mixins.icon('check-symbol') }}
              </div>

              <h1 class="title">תודה!</h1>

              <div class="section__subttl strong">בקשתך התקבלה. אנו ניצור איתך קשר בקרוב</div>

              {{ mixins.btn(
                title = 'דף הבית',
                mod = ''
              ) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->