.filters
  background-color: $gray-lightest
  border: 1px solid  $gray-light
  padding: rem(25) rem(55)
  &__fields
    +flex(flex-start, normal, row, wrap)
    margin-left: rem(-5)
    margin-right: rem(-5)
  &__field
    padding-left: rem(5)
    padding-right: rem(5)
    width: 20%
  &__title
    margin-bottom: rem(15)
    text-align: center
