.hero-slider

.hero-slide
  +cover
  background-color: $accent
  color: $white
  &__inner
    padding-top: 15%
    padding-bottom: 15%
  &__subttl
    font-weight: 700
    margin-bottom: rem(25)
  &__title
    margin-bottom: rem(15)