.hero-slider

.hero-slide
  +cover
  background-color: $accent
  color: $white
  &__inner
    padding-top: 15%
    padding-bottom: 15%
    +xs
      padding-top: rem(60)
      padding-bottom: rem(90)
  &__subttl
    font-weight: 700
    margin-bottom: rem(25)
  &__title
    margin-bottom: rem(15)

.hero
  $this: &
  +cover
  &__breadcrumbs
    margin-bottom: rem(75)
  &__title
    text-align: center
  &--sm
    color: $white
    padding-top: rem(15)
    padding-bottom: rem(115)
