.s-man-info-items
  &__img
    text-align: center
    font-size: 0

.s-call
  +cover
  margin-top: rem(80)
  color: $white
  &__img
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: rem(-80)
  &__content
    padding-top: rem(70)
    padding-bottom: rem(70)    
  &__form
    max-width: 230px

.s-thanks
  position: relative
  &__img
    position: absolute
    z-index: 0
    bottom: rem(-20)
    right: 10%

.s-gallery
  &__right
    +flex(flex-start, normal, column)
    height: 100%
  &__text, &__title
    max-width: 625px
    margin-left: auto
    margin-right: auto
  &__text
    flex-grow: 1    
    margin-bottom: rem(30)
    text-align: center
  &__title
    @extend .section__title

.s-member
  position: relative
  &__left
    background-color: $gray
    +cover
    position: absolute
    z-index: 1
    left: 0
    bottom: 0
    top: 0
    width: 50%
    +before
      +arr(#{rem(45)}, 6.25rem, $accent, l)
      position: absolute
      z-index: 1
      top: 50%
      right: 0
      transform: translate(0, -50%)
  &__right
    background-color: $accent
    padding-top: rem(130)
    padding-bottom: rem(130)
    
