.section
  padding-top: rem(95)
  padding-bottom: rem(95)
  +lg
    padding-top: rem(70)
    padding-bottom: rem(70)
  &__title
    text-align: center
    margin-bottom: rem(30)
    +md
      // margin-bottom: rem(15)
    &--short
      max-width: 810px
      margin-left: auto
      margin-right: auto
  &__subttl
    margin-bottom: rem(30)
    +md
      margin-bottom: rem(15)
  &__btn
    text-align: center
    margin-top: rem(50)
  &__block
    margin-bottom: rem(30)


  &--gray
    background-color: $gray-lightest
  &--white
    color: $white
  &--lg
    padding-top: rem(130)
    padding-bottom: rem(140)
  &--bg
    background-color: $gray
    +cover

.section-full  
  +cover
  background-color: $c-text
  &__inner
    +flex(flex-start, normal, column)
    padding-top: rem(15)
    position: relative
    z-index: 1
  &__content
    padding-top: rem(140)
    padding-bottom: rem(140)
    flex-grow: 1
    +flex(center, normal, column)
    position: relative
    z-index: 1
    +sm
      padding-top: rem(60)
      padding-bottom: rem(75)
  &__icon
    width: 1em
    height: 1em
    font-size: rem(60)
    border-radius: 50%
    border: 1px solid currentColor
    +flex(center, center)
    margin-left: auto
    margin-right: auto
    margin-bottom: rem(15)
    +lg
      font-size: rem(40)
    +sm
      font-size: rem(35)
    .icon
      font-size: .4em