.s-man-info-items
  &__img
    text-align: center
    font-size: 0

.s-call
  +cover
  margin-top: rem(80)
  color: $white
  &__img
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: rem(-80)
  &__content
    padding-top: rem(70)
    padding-bottom: rem(70)
  &__form
    max-width: 230px